.container-fluid {
    padding: 7% 15%;
}


/* Navbar */

.navbar img {
    width: 10%;
}

.navbar {
    background-color: #565d47;
}

.nav-item {
    text-align: center;
    padding: 0 2%;
    margin-right: 1%;
}

.nav-item:hover {
    background-color: #b49c73;
    border-radius: 20px;
    animation: shadowAnimation 0.5s linear forwards;
}

@keyframes shadowAnimation {
    0% {
        box-shadow: 0px 0px 0px #b49c00;
    }
    50% {
        box-shadow: 0px 0px 15px #b49cf3;
    }
    100% {
        box-shadow: 0px 0px 30px #b49c73;
    }
}


/* Title */

#title {
    position: relative;
    background-color: #565d47;
    color: white;
}

.title-img {
    text-align: center;
}

#title .col-lg-6 {
    margin: auto 0;
}

#title h1 {
    font-size: 3.2rem;
}

#title h2 {
    font-size: 2.2rem;
}

#title h3 {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.title-head img {
    margin: 0 auto;
    width: 80%;
}

#title .carousel {
    background-color: black;
}

#title img {
    padding: 7% 15%;
}

@media screen and (max-width: 900px) {
    #title .col-lg-6 {
        text-align: center;
    }
}


/* Precaution */

#precaution {
    text-align: center;
}

#precaution h4 {
    padding: 2% 0;
}

#precaution p {
    padding: 0 5%;
    font-size: 1rem;
}

#precaution i {
    color: #565d47;
    font-size: 3.5rem;
}


/* ______________________________________________ */

.huge {
    font-size: 150rem;
    color: black;
}


/* Search Bar */

.searchbar {
    box-shadow: 0 0 20px grey;
    padding: 10px;
    border-radius: 20px;
}

.searchbar input {
    width: 90%;
    border: none;
}

.searchbar i {
    width: 5%;
}

.iconActive {
    color: red;
    text-shadow: 0 0 5px red;
}


/* Search Textfield */

#search h4 {
    padding: 2%;
    text-align: center;
}

.country-flags {
    padding-top: 50px;
}

.flag {
    display: inline-block;
    text-align: center;
}

.flag img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 10px;
}


/* Arrow down */

.arrowDown {
    text-align: center;
    margin: 5%;
}

.arrowDown i {
    font-size: 1.5rem;
    border-radius: 100%;
    box-shadow: 0 0 30px black;
    padding: 10px;
}

.arrowDown i:hover {
    color: blue;
    cursor: auto;
}

.hide {
    display: none;
}